:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  
  margin: 0;
  overflow: hidden; /* Prevents scrolling */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.container {
  display: grid;
  & > * {
    grid-column: 1;
    grid-row: 1;
  }
}

.painting {
  width: 100vw; /* Maintain aspect ratio */
  height: 100vh; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the entire area while maintaining aspect ratio */
  object-position: center; /* Center the image */
}

.painting-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0px 1.4rem;  
  border-radius: 5px;
}

.painting-info h3 {
  text-transform: capitalize;
}

.painting-info .artist-name {
  font-style: italic;
}

.painting-info .circle {
  font-size: 10px;
  vertical-align: middle;
  padding-left: .6rem;
  padding-right: .6rem;
}

.settings-gear {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 8px 16px;  
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
  transition: all .3s ease-in-out;
}

.settings-gear:hover {
  transition: all .3s ease-in-out;
  transform: translateY(-5px);
}

.timer-duration {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 4px 8px;  
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all .3s ease-in-out;
}

.timer-duration:hover {
  transition: all .3s ease-in-out;
  transform: translateY(-5px);
}
